{% extends "base.html" %}

{% block content %}
     <table class="table table-light table-hover table-bordered table-sm" name="berichtshefter">
        <thead>
            <tr align="center" style="color: #007bff">
                <th scope="col">ID</th>
                <th scope="col">Von</th>
                <th scope="col">Bis</th>
                <th scope="col">Erstellt</th>
                <th scope="col">Hochgeladen</th>
            </tr>
        </thead>
        <tbody>
            {% for bh in berichtshefter %}
                <tr align="center" id="{{bh.id}}"  style="{% if bh.erstellt %}color: #4E7A50; font-weight: bold; {% endif %} {% if bh.hochgeladen == True %}background-color: #D4E7D1;{% endif %}">
                    <td id="id">{{ bh }}</td>
                    <td id="von">{{ bh.vonDatum.strftime('%d.%m.%Y') }}</td>
                    <td id="bis">{{ bh.bisDatum.strftime('%d.%m.%Y') }}</td>
                    <td id="erstellt">
                        <form method="POST">
                            <input type="hidden" name="id" value="{{ bh.id }}">
                            <input type="hidden" name="type" value="0">
                            <button type="submit" class="btn {% if bh.erstellt %}btn-secondary{% else %}btn-primary{% endif %}">{{ bh.erstellt }}</button>
                        </form>
                    </td>
                    <td id="hochgeladen">
                        <form method="POST">
                            <input type="hidden" name="id" value="{{ bh.id }}">
                            <input type="hidden" name="type" value="1">
                            <button type="submit" class="btn {% if bh.hochgeladen %}btn-secondary{% else %}btn-primary{% endif %}">{{ bh.hochgeladen }}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

     <script>
        // Store the scroll position when the page unloads
        window.addEventListener('beforeunload', function() {
            localStorage.setItem('scroll_position', window.pageYOffset);
        });

        // Restore the scroll position on page load
        window.addEventListener('load', function() {
            var scrollPosition = localStorage.getItem('scroll_position');
            if (scrollPosition) {
                window.scrollTo(0, scrollPosition);
                localStorage.removeItem('scroll_position');
            }
        });
    </script>
{% endblock %}
